<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roblox Donation</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        .robuxImg{
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+PHBhdGggZD0iTTguMyAzLjdMMy42IDIxLjhsMTguMSA0LjYgNC42LTE4LjEtMTgtNC42em04IDEzLjZsLTMuNS0uOS45LTMuNSAzLjUuOS0uOSAzLjV6IiBmaWxsPSIjMzkzYjNkIi8+PC9zdmc+);
            background-position: 0 0;
            width: 30px;
            height: 30px;
            display: block;
        }
        .container {
            width: 20%;
            padding: 1em;
        }
        figure {
            width: 100%;
            display: block;
        }
        figure img {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%;
        }
        .colored {
            color: #750da8;
        }
        .colored2 {
            color: crimson;
        }
        .info {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }
        .message {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <figure><img src="<%= robloxImageUrl %>" alt="roblox image png"></figure>
        <div class="info">
            <p><span class="colored"><%= userName %></span> donated <span class="colored"><%= robuxAmmount %></span></p>
            <span class="robuxImg"></span>
        </div>
        <p class="colored2 message"><%=message%></p>
    </div>
</body>
</html>